{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "react": {
        "runtime": "automatic",
        // "pragma": "React.createElement",
        // "pragmaFrag": "React.Fragment",
        "refresh": true,
        "development": false
      }
    },
    "target": "es2022",
    "loose": true,
    "externalHelpers": true,
    // Requires v1.2.50 or upper and requires target to be es2016 or upper.
    "keepClassNames": true
  },
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": true,
    "lazy": true,
    "noInterop": false
  },
  "minify": true,
  "sourceMaps": true,
  "exclude": ["node_modules", ".git", "dist"]
}